{% extends 'base.twig' %}

{% block main %}
  <section class="Page__wrapper">
    <article class="ArticleSingle">

      {# Article title #}
      <h1 class="ArticleSingle__heading">{{ post.title }}</h1>
      {# Article date #}
      <small class="ArticleSingle__date">{{ post.date }}</small>
      {# Article content #}
      {{ post.content }}

    </article>
  </section>
{% endblock %}
