<nav>
  <a href="/#news" class="js-anchorlink">Nyheter</a>
  {# <a href="{{ site.url }}/race-to-70">Race to 70</a> #}
  <a href="{{ site.url }}/guildansokan">Ansökan</a>
  <a href="{{ site.url }}/merch">Merch</a>
  <a href="{{ site.url }}/om">Om</a>
</nav>
