html {
  font-family: $font;
  font-size: 62.5%;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  height: 100%;
  margin: 0;
  background-color: $bone;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

a {
  transition: all 0.15s ease;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

main {
  max-width: 128rem;
  margin: auto;
  padding: 0 2rem;
}
