// Fonts
// -------------------------
@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Roboto-Bold.woff2") format("woff2");
  src: url("fonts/Roboto-Bold.woff") format("woff");
}

$font: "OpenSans";
$font2: "Roboto";

// Media queries
// -------------------------
$small: 550px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;

// Colors
// -------------------------
$white: #ebdec2;
$black: #1a1a1a;
$primary: #ffa71b;
$druid: #ff7d0a;
$priest: white;
$warlock: #8787ed;
$warrior: #c79c6e;
$shaman: #f58cba;
$rogue: #fff569;
$hunter: #abd473;
$mage: #40c7eb;
