body.login {
  color: $black;
  background-color: $black;
  h1 a {
    height: 14rem;
    background-image: url(images/goh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: none;
  }
  a {
    color: $primary !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .button-primary {
    font-family: $font2;
    text-decoration: none !important;
    text-transform: uppercase;
    color: white !important;
    border-color: $primary !important;
    background: $primary !important;
    box-shadow: none !important;
    text-shadow: none !important;
    margin: 2rem 0 0 0;
  }
}
