@import "/nav/index";

header {
  max-width: 110rem;
  height: 4rem;
  margin: auto;
  padding: 0 1.5rem;
  text-align: center;
}

.HeaderLogo {
  width: 30rem;
  margin: 3rem auto 0 auto;
  display: block;
  @media (min-width: $medium) {
    float: left;
    width: 35rem;
  }
  img {
    width: 100%;
  }
}
