.forum {
  .Page__wrapper {
    max-width: 85rem;
  }
  .Page__title {
    display: none;
  }
}

#af-wrapper {
  .main-title,
  .mention-nice-name,
  #forum-header {
    display: none;
  }

  #forum-breadcrumbs a:hover,
  #af-wrapper .main-title {
    color: $primary !important;
  }

  #read-unread {
    background-color: white;
    padding: 0.5rem;
  }
}
