.MainHeading {
  font-family: $font2;
  max-width: 60rem;
  margin: auto auto 4rem auto;
  text-align: center;
}

.Page__wrapper--home {
  max-width: 106rem;
  @extend .Page__wrapper;
  h1 {
    font-family: $font2;
    font-size: 2.9rem;
    line-height: 3.9rem;
    margin: 0 0 1rem 0;
    text-align: left;
    text-transform: uppercase;
    color: $primary;
    @media (min-width: $medium) {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
  .ContentSidebar {
    @media (min-width: $medium) {
      width: 50%;
    }
  }
  .Form {
    margin: 2rem 0 0 0;
    display: none;
    &.show {
      display: block;
    }
  }
}

.Preamble {
  font-size: 115%;
  margin: 0 0 5rem 0;
}

.VideoBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.VideoBackground__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .VideoBackground__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .VideoBackground__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .VideoBackground {
    background: url(images/fallback.png) left center / cover no-repeat;
  }

  .VideoBackground__video {
    display: none;
  }
}
