.MainHeading {
  font-family: $font2;
  max-width: 60rem;
  margin: auto auto 4rem auto;
  text-align: center;
}

.Page__wrapper--home {
  max-width: 106rem;
  @extend .Page__wrapper;
  @media (min-width: $medium) {
    margin: 15.5rem auto 9.5rem auto;
  }
  h1 {
    font-family: $font2;
    font-size: 2.9rem;
    line-height: 3.9rem;
    margin: 0 0 1rem 0;
    text-align: left;
    text-transform: uppercase;
    color: $primary;
    @media (min-width: $medium) {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
  .ContentSidebar {
    @media (min-width: $medium) {
      width: 50%;
    }
  }
  .Form {
    margin: 2rem 0 0 0;
    display: none;
    &.show {
      display: block;
    }
  }
}

.Hero {
  margin: 12rem auto 5rem auto;
  position: relative;
  @media (min-width: $medium) {
    margin: auto;
    height: 100%;
    height: 100vh;
    max-width: 106rem;
  }
  .Hero__textcontainer {
    @media (min-width: $medium) {
      max-width: 53rem;
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-60%);
      &.hide {
        display: none;
      }
    }
    h1 {
      font-family: $font2;
      font-size: 2.9rem;
      line-height: 3.9rem;
      margin: 0 0 1rem 0;
      text-align: left;
      text-transform: uppercase;
      color: $primary;
      @media (min-width: $medium) {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
    .Preamble {
      font-size: 115%;
      margin: 0 0 5rem 0;
    }
  }
  .Hero__textblock {
    opacity: 1;
    visibility: visible;
    transition: all 0.25s ease;
    @media (min-width: $medium) {
      &.hide {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .Hero__formblock {
    margin: 2rem 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    height: auto;
    &.show {
      opacity: 1;
      visibility: visible;
      max-height: 37rem;
    }
    .Form {
      margin: 0;
    }
  }
}

.VideoBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.VideoBackground__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .VideoBackground__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .VideoBackground__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .VideoBackground {
    background: url(images/fallback.png) left center / cover no-repeat;
  }

  .VideoBackground__video {
    display: none;
  }
}

.NewsList {
  background-image: url(images/bg-light.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% auto;
  padding: 5rem 1.5rem;
  margin: 0 -1.5rem;
  box-shadow: 0 -0.5rem 2rem 0rem rgba(0, 0, 0, 0.5);
  .NewsList__container {
    max-width: 106rem;
    margin: auto;
  }
}
