nav {
  font-family: $font2;
  font-size: 1.4rem;
  margin-top: 3rem;
  padding: 0 0 2rem 0;
  text-transform: uppercase;
  color: $primary;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @media (min-width: $medium) {
    float: right;
    margin-top: 4.2rem;
    padding: 0;
    border-bottom: none;
  }
  a {
    margin: 0 1.5rem;
    @media (min-width: $medium) {
      margin: 0 0 0 2rem;
    }
  }
}

.NAV__separetad {
  display: none;
  margin: 0 0 0 2.5rem;
  @media (min-width: $medium) {
    display: inline-block;
  }
  &::before {
    margin: 0 2.5rem 0 0;
    content: "|";
  }
}
