.ArticleCard {
  margin: 0 auto 3rem auto;
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  @media (min-width: $medium) {
    margin: 0 2% 3rem 2%;
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }
  @media (min-width: $large) {
    margin: 0 2%;
    width: 29%;
  }
}
.ArticleCard__date {
  font-family: $font2;
  text-transform: uppercase;
}
.ArticleCard__header {
  font-family: $font2;
  line-height: 1.2;
  margin: 0;
  color: $primary;
}
.ArticleCard__figure {
  margin: 1rem 0;
}
.ArticleCard__img {
  width: 100%;
  border: 0.2rem solid $primary;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}
.ArticleCard__caption {
  font-size: 75%;
  margin: 0.5rem 0 0 0;
  font-style: italic;
}
.ArticleCard__preamble {
  margin: 0;
}

.ArticleSingle {
}

.ArticleSingle__heading {
  margin: 0 0 0.2rem 0;
}

.ArticleSingle__date {
  font-family: $font2;
  display: block;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.ArticleSingle__figure {
  @extend .ArticleCard__figure;
  @media (min-width: $medium) {
    max-width: 55%;
    margin: 0 0 3rem 5%;
    display: inline-block;
    float: right;
  }
}
.ArticleSingle__img {
  @extend .ArticleCard__img;
}
.ArticleSingle__caption {
  @extend .ArticleCard__caption;
}
