.ArticleCard {
  max-width: 50rem;
  margin: 0 auto 3rem auto;
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  &:last-of-type {
    border-bottom: none;
  }
}
.ArticleCard__date {
  font-family: $font2;
  text-transform: uppercase;
}
.ArticleCard__header {
  font-family: $font2;
  margin: 0;
  color: $primary;
}
.ArticleCard__preamble {
  margin: 0;
}

.ArticleSingle {
}

.ArticleSingle__heading {
  margin: 0 0 0.2rem 0;
}

.ArticleSingle__date {
  font-family: $font2;
  display: block;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
