<footer>
  <a href="https://discord.gg/bFMgU7Z" target="_blank">Kontakta oss på Discord</a>
  <small>© Copyright Gammal och Horde {{ "now"|date("Y") }}</small>

</footer>

{{ function('wp_footer') }}
</body>
</html>
