{% extends 'base.twig' %}


{% block main %}
<section class="Hero">

  <article class="Hero__textcontainer">
    <div class="Hero__textblock">
      <h1>{{ site.description }}</h1>
      <p class="Preamble">15 år senare har gnistan återigen tänts. Efter kungörelsen av Vanillas återkomst startades en liten men varmblodig ambition att bygga ett kollektiv - ett hem - för Azeroths äldsta återvändare. Ett hem att trivas i. Ordet spred sig och kollektivet växte snabbt från att vara ett hem för vänner till något större. Från Ashenvales förtrollande skogar, till Blackrocks brinnande stäppar ska vi hjälpa varandra och frodas som en familj - och visa vilka som bestämmer i Azeroth. Vi är gamla... Och vi är hordea!</p>
    </div>

    <a href="{{ site.url }}/guildansokan" class="Button">Är du också horde? Skicka en guildansökan!</a>
  </article>

  <aside class="VideoBackground">
    <video loop muted autoplay class="VideoBackground__video">
      <source src="{{ site.theme.link }}/src/bg.mp4" type="video/mp4">
    </video>
  </aside>

</section>

<section class="NewsList" id="news">
  <div class="NewsList__container">
  {# Loop through articles #}
  {% for post in posts %}
    {% include '/components/posts/post-item.twig' %}
  {% endfor %}
  </div>
</section>

{% endblock %}
