{% extends 'base.twig' %}


{% block main %}
<section>
  <img class="MainLogo" src="{{ site.theme.link }}/src/images/goh-ordbild.png" alt="Gammal och Horde">

  <h2 class="MainHeading">{{ site.description }}</h2>

  {# Loop through articles #}
  {% for post in posts %}
    {% include '/components/posts/post-item.twig' %}
  {% endfor %}
</section>
{% endblock %}
