{% extends 'base.twig' %}


{% block main %}
<section class="Page__wrapper--home">

  <article class="ContentSidebar">
    <h1>{{ site.description }}</h1>
    <p class="Preamble">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vitae harum ab alias inventore, maiores sapiente ipsum quam illum nostrum. Magni vitae harum ab alias inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <button class="Button js-show-form">Är du också horde? Skicka en guildansökan!</button>

    <form class="Form ajax-send-application" action="#" method="post">
      <input type="hidden" name="action" value="send_application">

      <input name="user_nick" type="text" placeholder="Ditt nick" required>
      <input name="user_email" type="email" placeholder="Din email" required>
      <textarea rows="5" name="user_desc">Vem är du?</textarea>

      <div class="Form__inputwrapper">
        <label for="user_class">Vad är du för klass?</label>
        <select name="user_class" required>
          <option value="">--Välj din klass--</option>
          <option value="Druid">Druid</option>
          <option value="Hunter">Hunter</option>
          <option value="Mage">Mage</option>
          <option value="Rogue">Rogue</option>
          <option value="Shaman">Shaman</option>
          <option value="Priest">Priest</option>
          <option value="Warlock">Warlock</option>
          <option value="Warrior">Warrior</option>
        </select>
      </div>

      <div class="Form__inputwrapper">
        <label for="user_race">Vad är du för ras?</label>
        <select name="user_race" required>
          <option value="">--Välj din ras--</option>
          <option value="Orc">Orc</option>
          <option value="Troll">Troll</option>
          <option value="Undead">Undead</option>
          <option value="Tauren">Tauren</option>
        </select>
      </div>

      <button type="submit" class="Button">Skicka ansökan</button>
    </form>
  </article>


  <aside class="ContentSidebar__sidebar">
  {# Loop through articles #}
  {% for post in posts %}
    {% include '/components/posts/post-item.twig' %}
  {% endfor %}
  </aside>


</section>
{% endblock %}
