{% extends 'base.twig' %}

{% block main %}

  <section class="Page__wrapper">
    <h1>Riktigt goh merch</h1>
    <ul class="merch-list">
      <li>
        <img src="{{theme.link}}/src/images/gingerboy.png">
        <a href="https://sprd.co/ZK0w1Kg" target="_blank">Köp via spreadshirt.se</a>
      </li>
      <li>
        <img src="{{theme.link}}/src/images/firesaga.png">
        <a href="https://sprd.co/rNulLVq" target="_blank">Köp via spreadshirt.se</a>
      </li>
      <li>
        <img src="{{theme.link}}/src/images/hoodie-front.png">
        <a href="https://sprd.co/rJkRb8q" target="_blank">Köp via spreadshirt.se</a>
      </li>
      <li>
        <img src="{{theme.link}}/src/images/queendal.png">
        <a href="https://sprd.co/XwhfMgb" target="_blank">Köp via spreadshirt.se</a>
      </li>
    </ul>

</section>


{% endblock %}
