{% extends 'base.twig' %}

{% block main %}
  <section class="Page__wrapper">
    <h1>{{ post.title }}</h1>
    {# Loop through raids #}
    {% for raid in raids %}
      {% include '/components/raid.twig' %}
    {% endfor %}
  </section>
{% endblock %}
